body{
    color: black;
    background: pink;
    font-family: "Rochester", cursive;
    margin: 0px;
    margin-bottom: 100px;
}
.chamada{
    background: rgb(207, 166, 191);
    margin-top: 80px;
    margin-bottom: 80px;
    display: flex;
    justify-content: center;
}
header{
    color:rgb(255, 255, 255);
    font-size: 40px;
    border-bottom: solid 3px rgb(255, 255, 255);
    padding: 20px;
}